<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

</head>

    <body>   
    <!--Add a nav bar here -->
    <nav class="navbar navbar-light bg-primary">
        <div class="container-fluid">
            <div class="navbar-header">
                  <a class="navbar-brand" href="#">Best Cars</a>
                  <a class="navbar-brand" href="{% url 'djangoapp:about_us' %}">About Us</a>
            </div>
        </div>
    </nav>
    <!--Add a dealer table here -->
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, nulla repudiandae magni repellat id iusto ex tenetur accusamus animi obcaecati laboriosam cum itaque! Veritatis reiciendis quam nemo cupiditate, nesciunt quia?
        Incidunt, explicabo. Reiciendis repellat veniam, tempora perferendis maiores minima vitae ex iste cumque, aut quaerat doloribus fugiat eaque quibusdam neque corporis alias, voluptate assumenda voluptates dolor. Officia odio quisquam et.
        Aperiam, placeat! Perspiciatis doloremque suscipit sint neque aliquam dolorum, enim ea corporis esse hic eligendi consequuntur accusamus numquam, quidem, quis est optio atque magnam ad aliquid? Vitae sapiente perferendis beatae.
        Asperiores error ipsam quas eveniet, nihil temporibus deserunt sit iste fugit accusamus earum, rerum, blanditiis ab esse tempora! Dolore debitis iure recusandae error vitae sunt maiores maxime a nostrum tenetur?
        Nihil aliquid ipsam iste, neque, libero odio, voluptas nemo excepturi soluta omnis voluptates explicabo maxime. Unde facere et, ducimus dicta nam error molestias iusto voluptas minima ut magni fuga! Debitis.
        </p>
    </body>
        <footer class="footer fixed-bottom bg-light">
            <section class="d-flex">                
                <a class="btn btn-link" href="{% url 'djangoapp:contact' %}">Contact Us</a>
            </section>
        </footer>
</html>
